body{
    background-color: rgb(223, 223, 67);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
}
.slogan{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 20px;
      
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: #e0e04d;
    font-size: 25px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(90, 84, 84);
}
.imagens{
    max-width: 100%;
    flex-direction: column;
}