.conteudo{
    display: flex;
    width: 970px;
    background-color: #5c5454;
    justify-content: center;
    align-items: center;
    border-radius: 10px;  
    
    
}
.titulo{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(208, 221, 95);
}
body{
    background-color: cadetblue;
    padding: 100%;
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.coluna-1{
    display: flex;
    justify-content: center;
}

.coluna-2{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 30vh;
    margin-left: 165vh;
}
.footer{

    margin: 0 auto;
    background-color: #443d3d;
    justify-content: start;
    align-items: start;
    padding: 2vh;
}