.container{
    width: 120vh;
    margin: 0 auto;
    
}
body{
    background-color: #ddc364;
    padding: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}   
.header{
    background-color: #004c92;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 13px;
    border-image: 13px;
    box-shadow: 0 0 8px 5px rgba(0,0,0,.4);
    
}

.home{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.menu-navegacao{
    display: flex;
    list-style: none;
    gap: 40px;
}
.menu-navegacao a{
    font-size: 20px;
    color: #ffffff;
    padding-block: 16px;
}
.banner img{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
}
.conteudo{
    background-color: #FFDB58;
    border-radius: 20px;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 0 0 8px 5px rgba(0,0,0,.4);
    
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #012b55;
    padding: 25px;
}
.paragrafo{

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    
}
.links{
    columns: 2;
    align-items: center;
    justify-content: space-between;
}
image{
    height: 50px;
}
a{
    text-decoration: none;
    color: #5b4ffa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a:hover{
    color: black;
}

hr{
    border-radius: 10px;
}

