*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url(2.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h2{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    margin: 20px;
}

.Login{
width: 350px;
background-color: rgb(123, 159, 228);
border-radius: 20% 0;
box-shadow: 1px 2px 10px rgb(56, 43, 243), 3px 6px 20px rgb(53, 33, 238);
padding: 50px 20px; 
}

input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #080808;
    color: rgb(15, 15, 15);
}

.input-field{
position: relative;
margin-bottom: 20px;
}

label{
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    transform: translateY(18px);
    transition: .25s ease-in-out;
}

input:focus{
    border-bottom: 2px solid rgb(12, 12, 12);
    box-shadow: rgb(5, 5, 5);
}

input:focus + label{
    transform: translateY(-14px) scale(.8);
    color: rgb(3, 3, 3);
    font-weight: bold;
}

input:not(:placeholder-shown){
    border-bottom: solid black;
    box-shadow: 0 1px 0 0 black
}

input::placeholder{
    color: transparent;
}

button{
    padding: 15px 50px;
    margin: 20px;
    background: transparent;
    border: 2px solid hsl(0, 0%, 3%);
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background: rgb(64, 54, 204);
}

.center{
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: black;
}